body{
    background-color:#8B8989
    }

    h1{
        color:#000000 ;
        font-family: ;
        background: ;
        }
        p{
            color:#020000 ;
            font-size:20px ;
            text-align:
        }
        #GGEAZY {
            width: 100%;
        }
            }
            